html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: $family-sans-serif;
    background: $gray-dark;
}

a {
    transition: $trans;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.sr-only {
    @include sr-only();
}

@keyframes lazyloaded {
  from { opacity: 0; }
  to   { opacity: 1; }
}