$header-icon-size: 20px;
$header-icon-size-lg: 30px;

.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gray-dark;
    padding: $gap;
    transition: $trans-long;
}

.site-header-logo {
    margin: 0;
    width: 50px;

    a {
        display: block;
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }

    img {
        width: 100%;
    }
}

.site-header-link-list {
    @include resetList;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.site-header-link-item {
    margin: 0 0 0 $gap;

    &:first-child {
        margin: 0;
    }
}

.site-header-link {
    position: relative;
    display: flex;
    align-items: center;
    color: $white;

    &:hover,
    &:focus {
        color: $color1;
    }
}

.site-header-link-icon {
    display: none;
    fill: currentColor;
    width: $header-icon-size;
    height: $header-icon-size;
    transition: $trans-long;
}

@media (min-width: $bp-mw) {
    .site-header {
        display: grid;
        grid-template-rows: $sidebar-size-lg 1fr;
        grid-template-columns: 1fr;
        position: sticky;
        top: 0;
        width: $sidebar-size-lg;
        height: 100vh;
        flex: 0 0 auto;

        @at-root body.wide & {
            width: $sidebar-size;
        }
    }

    .site-header-logo {
        width: 100%;
        align-self: start;
    }

    .site-header-link-list {
        display: block;
    }

    .site-header-link-item {
        font-size: 20px;
        margin: $gap 0 0;
    }

    .site-header-link-icon {
        display: inline-block;
        flex: 0 0 auto;

        @at-root body.wide & {
            width: $header-icon-size-lg;
            height: $header-icon-size-lg;
            margin-left: calc((#{$sidebar-size} - (#{$gap} * 2)) / 2 - (#{$header-icon-size-lg} / 2));
        }
    }

    .site-header-link-text {
        position: absolute;
        display: block;
        max-width: 100%;
        overflow: hidden;
        transition: transform $speed-long $easing;
        left: calc(#{$header-icon-size} + #{$gap});
        transition: $trans-long;
        max-width: 100%;

        @at-root body.wide & {
            max-width: 0px;
            opacity: 0;
        }
    }
}