.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: $white;
    box-shadow: $shadow;
    margin: 0 0 $gap;
    padding: $gap $gap-md;
    height: 65px;
}

.site-search {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: $gap-md;
    flex: 1 1 auto;

    &::after {
        content: '';
        position: absolute;
        display: block;
        background: $gray;
        width: 1px;
        height: 75%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.site-search-trigger {
    @include resetBtn;
    width: 22px;
    height: 22px;
    flex: 0 0 auto;
    cursor: pointer;
    color: $color3;
    transition: $trans;

    &:hover,
    &:focus {
        color: $color5;
    }

    svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
        transition: $trans;
    }
}

.site-search-input {
    overflow: hidden;
    transition: $trans-long;
    flex: 1 1 auto;
    width: 100%;
    margin-left: $gap;

    input {
        width: 100%;
        height: 100%;
        border: none;
        color: $gray2;

        @include inputPlaceholder() {
            color: currentColor;
            opacity: 0.5;
        }

        &:hover,
        &:focus {
            @include inputPlaceholder() {
                opacity: 1;
            }
        }
    }
}

.secondary-header-info {
    display: none;
}

.secondary-header-links {
    display: none;
    justify-content: flex-end;
    align-items: center;
    @include resetList;

    li {
        margin: 0 0 0 $gap-md;

        a {
            color: $gray2;

            &:hover,
            &:focus {
                color: $color5;
            }
        }

        &:first-child {
            margin: 0;
        }
    }
}

@media (min-width: $bp-mw) {
    .site-search {
        width: auto;

        &::after {
            right: $gap-md;
        }
    }

    .site-search-input {
        width: 200px;
    }

    .secondary-header-links {
        display: flex;
    }

    .secondary-header-info {
        display: block;
    }
}