.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: $white;
    box-shadow: $shadow;
    margin: 0 0 $gap;
    padding: $gap $gap-md;
    height: 65px;
}

.secondary-header-info {
    display: none;
}

.secondary-header-links {
    display: none;
    justify-content: flex-end;
    align-items: center;
    @include resetList;

    li {
        margin: 0 0 0 $gap-md;

        a {
            color: $gray2;

            &:hover,
            &:focus {
                color: $color5;
            }
        }

        &:first-child {
            margin: 0;
        }
    }
}

@media (min-width: $bp-mw) {
    .secondary-header-links {
        display: flex;
    }

    .secondary-header-info {
        display: block;
    }
}