.player {
    @include aspect(16, 9, 'iframe');

    iframe {
        border: none;
    }
}

.alt-videos {
    display: flex;
    justify-content: space-between;
}

.alt-video-item {
    @include resetBtn;
    @include aspect(16, 9, 'span');
    display: block;
    flex: 1 0 0px;
    opacity: 0.7;
    cursor: pointer;
    border-right: 3px solid $white;
    transition: $trans;

    span {
        display: flex !important;
    }

    img {
        object-fit: cover;
        object-position: 50% 50%;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }

    &:last-child {
        border: none;
    }
}